<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/profile.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  </head>
  <style>
    /* css-profile */
    .profile-user{
      padding:40px
    }
    .title-profile{
      font-weight:bold;
      font-size:26px;
      color:black;
    }
    .content-profile{
      border:1px solid #dddddd;
      border-radius:6px;
      margin-top: 20px;
    }
    .sub-title{
      font-weight:bold;
      font-size:20px;
      color:black;
      margin:20px
    }
    .line{
      height:1px;
      width: 100%;
      background-color:#dddddd;
    }
    .user{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .user-name{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .profile-app-right{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .user-company{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .company-right{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .reset-password{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 145px 20px 20px; 
      align-items: center;
    }
    .input-current{
      padding:10px;
      border-radius:4px;
      border: 1px solid #dddddd;
      margin: 15px 0px;
    }
    .line-pw{
      width:5px;
      height:200px;
      background-color:#DCDCDC;
    }
    .text-request{
      font-weight:bold;
      color: black;
    }
    .impor-request{
      color:red;
      font-weight: normal;
    }
    .btn-save{
      display: flex;
      justify-content: end;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .style-btn{
      background-color:#191970;
      padding: 15px;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size:18px;
    }
    .pw-old{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .last-login{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .profile-picrure{
      display:flex;
      justify-content: space-between;
      margin-right:150px;
      margin:20px 300px 20px 20px; 
      align-items: center;
    }
    .detail-profile-picture img{ 
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: 1px solid black;
    } 
  </style>
  <body>
    <div class='dashboard'>
      <div class="dashboard-nav">
        <header>
          <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <a href="#" class="brand-logo">
            <i class="fas fa-anchor"></i>
            <span>BRAND</span>
          </a>
        </header>
        <nav class="dashboard-nav-list">
          <a href="#" class="dashboard-nav-item active">
            <i class="fas fa-home"></i> Home </a>
<!--          <a href="#" class="dashboard-nav-item">-->
<!--            <i class="fas fa-file-upload"></i> Upload </a>-->
<!--          <div class='dashboard-nav-dropdown'>-->
<!--            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">-->
<!--              <i class="fas fa-photo-video"></i> Media </a>-->
<!--            <div class='dashboard-nav-dropdown-menu'>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Recent</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Images</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Video</a>-->
<!--            </div>-->
<!--          </div>-->
          <div class='dashboard-nav-dropdown'>
            <a href="{{url_for('employee')}}" class="dashboard-nav-item">
              <i class="fas fa-users"></i> Employees </a>
<!--            <div class='dashboard-nav-dropdown-menu'>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Subscribed</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Banned</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">New</a>-->
<!--            </div>-->
          </div>
          <div class='dashboard-nav-dropdown'>
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
              <i class="fas fa-money-check-alt"></i> Payments </a>
            <div class='dashboard-nav-dropdown-menu'>
              <a href="#" class="dashboard-nav-dropdown-item">All</a>
              <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
              <a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
            </div>
          </div>
          <a href="#" class="dashboard-nav-item">
            <i class="fas fa-cogs"></i> Settings </a>
          <a href="#" class="dashboard-nav-item">
            <i class="fas fa-user"></i> Profile </a>
          <div class="nav-item-divider"></div>
          <a href="{{url_for('logout')}}" class="dashboard-nav-item">
            <i class="fas fa-sign-out-alt"></i> Logout </a>
        </nav>
      </div>
      <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
          <a href="" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <a href="{{url_for('menu')}}" class="menu-toggle">
            <i class="fas fa-bars">Home</i>
          </a>
        </header>
        <div class='dashboard-content'>
          <div class='container'>
            {% for category, message in get_flashed_messages(with_categories=True) %}
              <div class="alert alert-{{category}}">{{ message }}</div>
            {% endfor %}
            <script>
                setTimeout(function() {
                    $(".alert").fadeOut('fast');
                }, 3000);
            </script>
            <div class='card'>
              <div class='card-header'>
                <h3>Welcome back {{user}}</h3>
              </div>
              <div class='card-body'>
                <p>Your account type is: {{userType}}</p>
              </div>
            </div>
            <div class="section-avatar" style="margin-top:40px; display: flex; flex-wrap:wrap">
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRRyYPpSOn_kpXBtE4wJ50MCIJ9J7bBAq8_swh03mb1kml7lGqF" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
              <div class="content-avatar">
                <div class="detail-avatar">
                  <img class="img-people" src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" />
                  <div class="infor-people-name">
                    Sam Worthington
                  </div>
                  <div class="infor-people">
                    Samuel Henry J. "Sam" Worthington là một diễn viên người Úc. Anh được biết đến với vai Jake Sully trong Avatar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script><!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Title</title>
          <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
          <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
          <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet">
          <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        </head>
        <body>
          <div class='dashboard'>
            <div class="dashboard-nav">
              <header>
                <a href="#!" class="menu-toggle">
                  <i class="fas fa-bars"></i>
                </a>
                <a href="#" class="brand-logo">
                  <i class="fas fa-anchor"></i>
                  <span>BRAND</span>
                </a>
              </header>
              <nav class="dashboard-nav-list">
                <a href="#" class="dashboard-nav-item active">
                  <i class="fas fa-home"></i> Home </a>
      <!--          <a href="#" class="dashboard-nav-item">-->
      <!--            <i class="fas fa-file-upload"></i> Upload </a>-->
      <!--          <div class='dashboard-nav-dropdown'>-->
      <!--            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">-->
      <!--              <i class="fas fa-photo-video"></i> Media </a>-->
      <!--            <div class='dashboard-nav-dropdown-menu'>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Recent</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Images</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Video</a>-->
      <!--            </div>-->
      <!--          </div>-->
                <div class='dashboard-nav-dropdown'>
                  <a href="{{url_for('employee')}}" class="dashboard-nav-item">
                    <i class="fas fa-users"></i> Employees </a>
      <!--            <div class='dashboard-nav-dropdown-menu'>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Subscribed</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">Banned</a>-->
      <!--              <a href="#" class="dashboard-nav-dropdown-item">New</a>-->
      <!--            </div>-->
                </div>
                <div class='dashboard-nav-dropdown'>
                  <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fas fa-money-check-alt"></i> Payments </a>
                  <div class='dashboard-nav-dropdown-menu'>
                    <a href="#" class="dashboard-nav-dropdown-item">All</a>
                    <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                    <a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
                  </div>
                </div>
                <a href="#" class="dashboard-nav-item">
                  <i class="fas fa-cogs"></i> Settings </a>
                <a href="#" class="dashboard-nav-item">
                  <i class="fas fa-user"></i> Profile </a>
                <div class="nav-item-divider"></div>
                <a href="{{url_for('logout')}}" class="dashboard-nav-item">
                  <i class="fas fa-sign-out-alt"></i> Logout </a>
              </nav>
            </div>
            <div class='dashboard-app'>
              <header class='dashboard-toolbar'>
                <a href="" class="menu-toggle">
                  <i class="fas fa-bars"></i>
                </a>
                <a href="{{url_for('menu')}}" class="menu-toggle">
                  <i class="fas fa-bars">Home</i>
                </a>
              </header>
              <div class='dashboard-content'>
                <div class='container'>
                  {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{category}}">{{ message }}</div>
                  {% endfor %}
                  <script>
                      setTimeout(function() {
                          $(".alert").fadeOut('fast');
                      }, 3000);
                  </script>
                  <div class='card'>
                    <div class='card-header'>
                      <h3>Welcome back {{user}}</h3>
                    </div>
                    <div class='card-body'>
                      <p>Your account type is: {{userType}}</p>
                    </div>
                  </div>
                </div>
                // profile page
                <div class="profile-user">
                  <div class="title-profile">My Profile</div>
                  <div class="content-profile">
                    <div class="sub-title">My Profile</div>
                    <div class="line"></div>
                    <div class="main-content">
                      <div class="user">
                        <div class="user-id">User ID :</div>
                        <div class="user-number">10</div>
                      </div>
                      <div class="line"></div>
                      <div class="user-name">
                        <div class="title-name">User Name :</div>
                        <div class="detail-name">Nhu ne</div>
                      </div>
                      <div class="line"></div>
                      <div class="profile-app-right">
                        <div class="title-app-right">App Right :</div>
                        <div class="detail-name">ETMS-NORMAL USER[EMPLOYEE] <br>
                          ETMS-NORMAL USER[EMPLOYEE] <br>
                          ETMS-NORMAL USER[EMPLOYEE] <br>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="user-company">
                        <div class="title-company">User Company :</div>
                        <div class="detail-company"></div>
                      </div>
                      <div class="line"></div>
                      <div class="company-right">
                        <div class="title-company-right">Company Rights :</div>
                        <div class="detail-company-right"></div>
                      </div>
                      <div class="line"></div>
                      <div class="reset-password">
                        <div class="title-reset">Reset Password :</div>
                        <div class="detail-option-reset">
                          <label for="currentpw">Current Password : <br>
                            <input  class="input-current" type="password" id="currentpw" name="currentpw">
                          </label>
                          <br>
                          <label for="newpw">New Password : <br>
                            <input  class="input-current" type="password" id="newpw" name="newpw">
                          </label>
                          <br>
                          <label for="re-newpw">Re-Enter New Password : <br>
                            <input  class="input-current" type="password" id="re-newpw" name="re-newpw">
                          </label>
                        </div>
                        <div class="line-pw"></div>
                        <div class="text-request">You password to must :
                          <div class="impor-request">Be 8 to 20 characters long. <br>Contain atleast one lower-case letter.<br>Cotain atleast one upper-case letter.<br>Cotain atleast one number.<br> Coyain atleast one special character: ~! @ 3 $ % 6 & * () - =</div>
                        </div>
                      </div>
                      <div class="btn-save">
                        <button class="style-btn">Save Password</button>
                      </div>
                      <div class="line"></div>
                      <div class="pw-old">
                        <div class="title-pw-old">Password Days old :</div>
                        <div class="detail-pw-old">0</div>
                      </div>
                      <div class="line"></div>
                      <div class="last-login">
                        <div class="title-last-login">Last Login:</div>
                        <div class="detail-last-login">21-09-2022 22:34:45 PM</div>
                      </div>
                      <div class="line"></div>
                      <div class="profile-picrure">
                        <div class="title-profile-picture">Profile Picture:</div>
                        <div class="detail-profile-picture">
                          <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
          <script>
            const mobileScreen = window.matchMedia("(max-width: 990px )");
            $(document).ready(function() {
              $(".dashboard-nav-dropdown-toggle").click(function() {
                $(this).closest(".dashboard-nav-dropdown").toggleClass("show").find(".dashboard-nav-dropdown").removeClass("show");
                $(this).parent().siblings().removeClass("show");
              });
              $(".menu-toggle").click(function() {
                if (mobileScreen.matches) {
                  $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                  $(".dashboard").toggleClass("dashboard-compact");
                }
              });
            });
          </script>
        </body>
      </html>
            $(".dashboard-nav").toggleClass("mobile-show");
          } else {
            $(".dashboard").toggleClass("dashboard-compact");
          }
        });
      });
    </script>
  </body>
</html>