<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Leave</title>
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/profile.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  </head>
  <body>
    <div class='dashboard'>
      <div class="dashboard-nav">
        <header>
          <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <a href="#" class="brand-logo">
            <img style="margin-right: 20px" class="img-people" src="{{profile}}" />
          </a>
        </header>
        <nav class="dashboard-nav-list">
          <a href="{{url_for('menu')}}" class="dashboard-nav-item">
             Portfolio </a>
<!--          <a href="#" class="dashboard-nav-item">-->
<!--            <i class="fas fa-file-upload"></i> Upload </a>-->
<!--          <div class='dashboard-nav-dropdown'>-->
<!--            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">-->
<!--              <i class="fas fa-photo-video"></i> Media </a>-->
<!--            <div class='dashboard-nav-dropdown-menu'>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Recent</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Images</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Video</a>-->
<!--            </div>-->
<!--          </div>-->
          {% if admin is sameas true %}
          <div class='dashboard-nav-dropdown'>
            <a href="{{url_for('employee')}}" class="dashboard-nav-item">
              Employees </a>
<!--            <div class='dashboard-nav-dropdown-menu'>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">All</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Subscribed</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">Banned</a>-->
<!--              <a href="#" class="dashboard-nav-dropdown-item">New</a>-->
<!--            </div>-->
          </div>
          {% endif %}
          <div class='dashboard-nav-dropdown'>
            <a href="{{url_for('payroll')}}" class="dashboard-nav-item">
              Payroll </a>

          </div>
          <div class='dashboard-nav-dropdown'>
            <a href="{{url_for('leave')}}" class="dashboard-nav-item active">
               Leave </a>

          </div>

          <a href="#" class="dashboard-nav-item">
             Profile </a>
          <div class="nav-item-divider"></div>
          <a href="{{url_for('logout')}}" class="dashboard-nav-item">
            Logout </a>
        </nav>
      </div>
      <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
          <a href="" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <a href="{{url_for('leave')}}" class="menu-toggle">
            Leave</i>
          </a>
        </header>
        <div class='dashboard-content'>
          <div class='container'>
            {% for category, message in get_flashed_messages(with_categories=True) %}
              <div class="alert alert-{{category}}">{{ message }}</div>
            {% endfor %}
            <script>
                setTimeout(function() {
                    $(".alert").fadeOut('fast');
                }, 3000);
            </script>
            <div class='card' style="margin-bottom: 50px">
              <div class='card-header' style="text-align: left">
                <h3><b>Leave History</b></h3>
              </div>
              <div class='card-body'>
                <div style="overflow-x: auto;margin-top: 10px">
                  <table>
                    <tr>
                      <th>Leave Name</th>
                      <th>Description</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    {% for record in records %}
                    <tr>
                      <td>{% if record['leave'] != None %}{{record['leave']}}{% endif %}</td>
                      <td>{% if record['description'] != None %}{{record['description']}}{% endif %}</td>
                      <td>{% if record['sdate'] != None %}{{record['sdate']}}{% endif %}</td>
                      <td>{% if record['edate'] != None %}{{record['edate']}}{% endif %}</td>
                      <td>{% if record['status'] != None %}{{record['status']}}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class='card' style="text-align: center;margin: auto;width: 50%; border: 3px solid #443ea2; padding: 10px; text-align: center">
                <div class='card-header' >
                    <h3><b>Leave Application form</b></h3>
                  </div>
                  <div class='card-body'>
                    <div style="overflow-x: auto;margin-top: 10px">
                        <form action="{{url_for('submitform')}}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-label-group">
                                <input type="date" id="start_datepicker" name="sdate" style="width: 400px"/>
                                <label for="datepicker">Start Date</label>
                            </div>
                            <div class="form-label-group">
                                <input type="date" id="end_datepicker" name="edate" style="width: 400px"/>
                                <label for="datepicker">End Date</label>
                            </div>
                            <div class="form-label-group">
                            {{ form.type(class_="select_box", style="width: 400px", placeholder="Leave Types") }}
                            </div>
                            <div class="form-label-group">
                            {{ form.description(class_="select_box", style="width: 400px", placeholder="Any note can write down here") }}
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-color-hover" style="margin-bottom:50px;height: 50px;width: 200px;color: whitesmoke;" type="submit">Submit</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const mobileScreen = window.matchMedia("(max-width: 990px )");
      $(document).ready(function() {
        $(".dashboard-nav-dropdown-toggle").click(function() {
          $(this).closest(".dashboard-nav-dropdown").toggleClass("show").find(".dashboard-nav-dropdown").removeClass("show");
          $(this).parent().siblings().removeClass("show");
        });
        $(".menu-toggle").click(function() {
          if (mobileScreen.matches) {
            $(".dashboard-nav").toggleClass("mobile-show");
          } else {
            $(".dashboard").toggleClass("dashboard-compact");
          }
        });
      });
    </script>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>
</html>